.card {
  position: relative;
}

.card .card__front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.flipped .card__front {
  transform: rotateY(0deg);
  perspective: 180px;
  transition-delay: 0.2s;
}

.card .card__back {
  transform: rotateY(0deg);
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
}

.flipped .card__back {
  transform: rotateY(-90deg);
  transition-delay: 0s;
}
